body{
	font-family: 'Arvo', serif;
	margin:0;
	padding:0;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
	padding:20px;
	text-transform: capitalize;
	/*background-color: #DDE8FB;*/
	font-size: 1.3rem;
	position: relative;
}
#addNewInput{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
	border:none;
	border-radius: 0;
	background: #A7BBE4;  /* fallback for old browsers */
	color:black;
	padding:20px;
	margin:0;
	width:100%;
	font-size: 1.6rem;
}
li:last-child{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
li:nth-of-type(2){
	padding:0;
}

.newToDo:nth-child(2n){
	background:#77E8D6;
}
.newToDo:nth-child(2n+1){
	background:#DDE8FB;
}

.delete{
	background-color: #FF5F6D;
	padding:22px;
	margin-left: -20px;
	box-shadow: 1px 1px 5px gray;
	color:white;
	display:none;
}

.completed{
	text-decoration: line-through;
	color:gray;
}
.time{
	font-size:0.8rem;
	position:absolute;
	top:22px;
	right:10px;
	color:red;
	font-weight: normal;
}
.tooltip{
	/*float:right;*/
	visibility:hidden;
}
.newToDo:hover i{
	display:inline;
	margin-right: 10px;
}
.newToDo:hover{
	font-weight: bold;
}

span.filter {
	font-size: 1rem;
	margin-right: 10px;
}
input[type="checkbox"]{
	width:30px;
	padding:0;
	margin:0;
}
#container{
	max-width:500px;
	width:90%;
	height:100%;
	margin:50px auto;
	padding:0;
	/*box-shadow: 3px 3px 5px gray;*/

}
#header{
	/*background-color: #1B63BB;*/
	text-transform: uppercase;
	font-size: 30px;
	color:white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#plus{
	float:right;
}
